<%- include('../../partials/storeheader.ejs') %>

    <div style="height:100vh">
        <section class="mb-4 mt-5 h-auto container">
            <nav class="navbar">
                <div class="container-fluid">
                    <h3 class="ms-3">Meu carrinho</h3>
                    <hr>
                    <h3 class="d-flex me-3">
                        3 itens
                    </h3>
                </div>
            </nav>
            <table class="table align-middle mb-0 mt-5 bg-white text-center">
                <thead class="bg-light">
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <% produtos.forEach(produto=> { %>

                        <tr>
                            <td>
                                <div class="align-items-center">
                                    <img src="/images/<%= produto.image %>" alt="" style="width: 60px; height: 60px"
                                        class="rounded-circle" />
                                    <p class="fw-bold p-3 mb-1">
                                        <%= produto.name %>
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div class="justify-content-center row d-flex">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="remove button-quantity btn btn-danger btn-number">-</button>
                                            </span>
                                            <span class="input-group-btn align-items-center" style="width:10em;border: solid 1px;padding: 2px;" id="quantity-input"></span>
                                            <span class="input-group-btn">
                                                <button type="button" class="add button-quantity btn btn-success btn-number glyphicon glyphicon-plus">+</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-success">R$<%= produto.price %>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm btn-rounded">
                                </button>
                            </td>
                        </tr>

                        <% }) %>

                </tbody>
            </table>
        </section>
    </div>
    </main>
    <%- include('../../partials/storefooter.ejs') %>