<%- include('../../partials/storeheader.ejs') %>
  <div class="container">
    <div class="card mb-5 mx-auto mt-5" style="max-width: 60em;">
      <div class="row g-0">
        <% itens.forEach(item=> { %>

          <div class="col-md-4">
            <img src="/images/<%= item.image %>" class="img-fluid rounded-start p-5" alt="<%= item.name %>">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title fs-1">
                <%= item.name %>
              </h5>
              <hr>
              <p class="card-text fs-4">
                <%= item.description %> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea perspiciatis earum
                  itaque at ratione accusamus explicabo sint obcaecati, voluptatem quasi impedit, eveniet animi ab
                  sapiente, voluptatibus quod soluta ad nesciunt?
              </p>
              <hr>
              <p class="card-text fs-5" style="color: #ff7312;">
                R$<%= item.price %>
              </p>
              <p>
                <button class="btn btn-warning">Adicionar ao carrinho</button>
                <button class="btn btn-danger">Comprar agora</button>
              </p>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
<hr>
<p class="fs-3"><img style="width: 1.7em;" src="/images/shopping-cart.png" alt="">
  <span class="ms-3">Seu carrinho</span></p>
<hr>
      <div class="row">
        <% products.forEach(product=> { %>
        <div class="col-sm-3 mx-auto text-center">
          <div class="card">
            <div class="card-body">
              <div class="bg-image hover-overlay ripple" style="height: 13em;" data-mdb-ripple-color="light">
                <a href="/item/<%= product.id%>">
                  <img style="width: 12em;margin-top: 1em;" src="/images/<%= product.image %>" alt="<%= product.name %>"
                    class="img-fluid" /> </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <a href="/item/<%= product.id%>">
                    <%= product.name %>
                  </a>
                </h5>
                <h6><a href="/item/<%= product.id%>">R$<%= product.price %></a>
                </h6>

                <button type="submit" class="add-cart btn btn-primary">Adicionar ao carrinho</button>
              </div>
            </div>
          </div>
        </div>
        <% }) %>

      </div>

  </div>

  <%- include('../../partials/storefooter.ejs') %>